{%load static%}
{% include 'header.html' %}

    {% block content %} 

{% endblock %}

<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="{% static 'assets/images/page-title/2.jpg' %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Reservation</div>
                        <div class="title--heading">
                            <h1>Book Your Table</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li class="active">Book A Table</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<section id="reservation1" class="reservation bg-white pb-80 pt-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="reservation-form mt-10 mb-10 text-center">
                    <div class="reservation--dec">
                        You can Book a table online easily in just a couple of minutes. We take reservations for lunch and dinner, just check the availability of your table & book it now!
                    </div>
                    <form method="POST" action="#" name="Form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="form-select">
                                    <i class="fa fa-angle-down"></i>
                                    <select class="form-control" name="people" id="people">
									<option value="">Number of people</option>
                                    <option value="2">2 People</option>
									<option value="3">3 People</option>
									<option value="4">4 People</option>
									<option value="5">5 People</option>
									<option value="6">6 People</option>
									<option value="8">8 People</option>
									<option value="10">10 People</option>
								</select>
                                </div> 
            
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <input type="date" class="form-control" placeholder="Date of the reservation" name="date" id="date">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <input type="time" class="form-control" placeholder="Time of the reservation" name="time" id="time">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email">
                            </div> 
                            <div class="col-xs-12 col-sm-12 col-md-12">
                               <button onclick = "document.getElementById('demo').innerText='Thank you for your reservatiion, You will be notify soon about your reservation via email..'" type="submit" id="submit-reservation" class="btn btn--secondary btn--block">Find Table</button>
                                <div style="color:gray, font-size:14px" id="demo" class="col-xs-12 col-sm-12 col-md-12"> 
                                    {% comment %} <button type="submit" id="submit-message" class="btn btn--secondary btn--block">Find Table</button> {% endcomment %}
                        

                                </div>
                        </div>
                        <!-- .row end -->
                    </form>
                    <!-- form end -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="text-uppercase text-center">
                            <strong><span>Reservation Powered by</span> <a href="#">Opentable</a></strong>
                        </div>
                    </div>
                </div>
                <!-- .contact-form end -->
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

{%include 'footer.html'%}
{% block content-footer%}
{%endblock%}