{%load static%} {% include 'header.html' %} {% block content %} {% endblock %}
<!-- Page Title #1
============================================= -->
<section
  id="page-title"
  class="page-title bg-overlay bg-parallax bg-overlay-gradient"
>
  <div class="bg-section">
    <img
      src="{% static 'assets/images/page-title/16.jpg' %}"
      alt="Background"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="title title-1 text-center">
          <div class="title--content">
            <div class="title--subtitle">Fresh, Tasty Meals</div>
            <div class="title--heading">
              <h1>Search</h1>
            </div>
          </div>
          <div class="clearfix"></div>
          <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li class="active">Search</li>
          </ol>
          <div class="divider--shape-1down"></div>
        </div>
        <!-- .title end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- Menu Simple
============================================= -->
<section id="menuSimple">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-1 mb-50 text--center">
          <p class="heading--subtitle">Start Eating Better</p>
          <h2 class="heading--title mb-0">Searched Items</h2>
          <div class="divider--shape-4"></div>
          <p class="heading--desc">
            MOGO has the perfect place to enjoy fine food and great
            cocktails with excellent service, in comfortable atmospheric
            surroundings. We have a soft dining room, combined with an open
            kitchen, coffee take out bar and alovely awesome on site coffee
            roastery.
          </p>
        </div>
      </div>
      <!-- .col-md-8 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
  <div class="container-fluid pr-0 pl-0 tabs">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
  
            <div class="menu-simple">
              <div class="container">
                <div class="row">
                  {%for p in result%}
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="dish-panel">
                      <div class="dish--img">
                        <img src="{{p.image.url}}" alt="dish" />
                      </div>
                      <div class="dish--content">
                        <div class="dish--content-bio">
                            <h3 class="dish--title">{{p.item}}</h3>
                          <div class="dish--price">৳{{p.price}}</div>
                        </div>
                        <p class="dish--desc">{{p.description}}</p>
                      </div>
                    </div>
                    <!-- .dish end -->
                  </div>
                  {%endfor%}
                </div>
                <!-- .row end -->
              </div>
              <!-- .container end -->
            </div>
            <!-- #menuSimple1 end -->
          
          
        
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #menuSimple end -->

{%include 'footer.html'%}
    {%block content-footer%} 
{%endblock%}
